body{
    /* overflow-x:hidden  !important; */
    font-family: Poppins,sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION 1 */

.section1 {
        width: 100%;
        height: 100vh;
        background-image: url('./images/hero.png'); 
        background-size: cover; 
        background-position: center; 
        color: white;
}
.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.navs{
    display: flex;
    width: 40%;
    height: 100%;
    color: white;
    align-items: center;
}

.navs h3{
    color: white;
    font-weight: 700;
}

.navbar ul{
    width: 100%;
    justify-content: space-between;
    list-style: none;
    display: flex;
}

.navbar ul li{
    font-weight: lighter;
}

.sidebar{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
}

.member-button {
    background-color: #00BFFF;
    color: white;
    padding: 15px 20px; 
    font-size: 15px; 
    border: none;
    gap: 30px;
}
.login-button{
    font-size: 18px;
    margin-left: 300px;
}

.section1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    text-align: center; 

}
.round-button{
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: center; 
}
.blue-button {
    color: white;
    background-color: #00BFFF;
}

.white-border-button {
    background-color: transparent; 
    border: 2px solid white; 
}

/* SECTION 2 */

.section2{
    background-color: rgb(234, 229, 229);
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 80px;
}

.section2 .subs2{
    display: flex;
    gap: 30px;
    position: relative;
    top: -70px;
    height: 200px;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 43% 43% 43%;
}
.subs2 .text p{
    display: flex;
    text-align: center;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.section2 .icon{
    font-size: 64px;
    color: #007bff;
}
.section2 .text{
    flex-direction: column;
    background-color: white;  
}
.subs .text h1{
    color: #1A2039;

}
.subs3 .text2 h1{
    color: #1A2039;
}
.section3 .text p{
    text-align: center;
}

.section2 .subs3 {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    margin-top: 140px;
}

/* SECTION 3 */

.section3 .columns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;

}
.section3 .column{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 20%; 
    background-color: white;
    margin: 20px; 
    box-sizing: border-box; 
    padding: 20px;
    align-items: center;
    height: 50vh;
}
.section3 .rating{
    color: yellow;
    display: flex;
    font-size: 24px;
}
.star {
    margin-right: 10px; 
}
.section3 p{
    padding-top: 40px;
    line-height: 1.5;
    color: #1A2039;

}
.section3 .text h1{
    font-size: 40px;
}

.section3 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px; 
    padding-bottom: 50px;   

}
.section3 .column img{
    max-width: 50%;
    height: auto;
    display: flex;
    padding-top: 10px;

}

.section3{
 background-color: #ddd;
 width: 100vw;
 height: 290vh;
}

.section3 .icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}

.section3 .icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons img{
    max-width: 90px;
    height: auto;
}
.icons div{
    text-align: center;
    margin: 30px;
}
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.subscribe-container{
    background-color: #ffffff; 
    border: 2px solid #333; 
    width: 70%; 
    height: 20vh;
    display: flex;
    justify-content: center;
     flex-direction: column;
     justify-content: center;
     /* align-items: center; */
}
.subscribe-container .container{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;/
}

 .subscribe-container .form-control {
    width: 60%;
    /* margin-bottom: 10px; */
}
.subscribe .header{
    /* padding-right: 100px; */
    padding-left: 0;
    font-size: 18px;
}

.primary {
    background-color:#007bff;
    color: white;
    border: none;
    padding: 10px 20px;
}
.section3 .pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3 .pricing h1{
    font-size: 30px;
}
.section3 .pricing p{
    text-align: center;
}

.section3 .pricing-cards{
   display: flex;
   gap: 20px;
   justify-content: center;
   padding: 20px;
   padding-top: 70px;
}

.section3 .pricing-card{
    height: 90vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(53.33%  -10px);
    border-color: 2px #007bff;
    border: 1px #007bff;
}
.featured{
    background-color: #007bff;
}


.section3 button{
    background-color: #3498db;
    color: white;
    padding: 15px 70px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
.price {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .right-tick ion-icon {
    font-size: 34px;
    color: #01a807;
  }
  
  .grey-tick ion-icon {
    font-size: 34px;
    color: #BDBDBD;
  }
  .pricing-options {
    display: flex;
    grid-template-columns: 13% 98%;
    margin: 4%;
    text-align: left;
    align-items: center;
  }
  .pricing-options ion-icon {
    font-size: 34px;
  }

/* SECTION4 */
  
.section4 {
    background-color: hsl(226, 43%, 10%);
    height: 80vh;
    color: white;
    height: 100vh;
}
.section4 .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 50px;

}
.section4 .text{
    justify-content: center;
   align-items: center;
}

.section4 h1{
    font-size: 35px;
}

/* SECTION 5 */
.section5{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.book-appointment-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -200px;
}

.book-appointment-image {
    flex: 1;

}

.book-appointment-image img {
    max-width: 100%; 
    height: auto;
}

.book-appointment-form {
    flex: 2; 
    padding: 10px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.book-appointment-form h1 {
    font-size: 24px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    width: 100%;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button.primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button.primary:hover {
    background-color: #0056b3;
}

.section5 .consulting{
        text-align: center;
        margin-bottom: 50px; 
}

/* FOOTER */
.footer{
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
    height: 70vh;
}
 .footer .container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;    
}

.container .footers {
    flex: 1; 
    margin: 0 10px; 
    padding: 10px;  
    font-size: 14px;
  }
  
  .container .footers ol {
    list-style-type: none;
    padding: 0;
  }
  
  .container .footers li {
    margin-bottom: 15px;
    color: #9C9C9C;
  }
  .footers h2{
   font-size: 16px;
   padding-bottom: 25px;
   color: #1A2039;
}
  
 
 