body{
    font-family: Poppins,sans-serif;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECTION 1 */

.section1 {
        width: 100%;
        height: 100vh;
        background-image: url('./images/hero.png'); 
        background-size: cover; 
        background-position: center; 
        color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.brand {
    font-size: 24px;
    padding-left: 60px;
}

.navs ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navs li {
    margin-right: 80px;
}

.sidebar {
    display: flex;
    align-items: center;
}

.login-button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.member-button {
    background-color:#007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    text-align: center; 

}
.section1-text h3{
    font-size:40px;
}
.round-button{
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: center; 
}
.blue-button {
    color: white;
    background-color: #00BFFF;
}

.white-border-button {
    background-color: transparent; 
    border: 2px solid white; 
}

/* SECTION 2 */

.section2{
    background-color: rgb(234, 229, 229);
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 80px;
}

.section2 .subs2{
    display: flex;
    gap: 30px;
    position: relative;
    top: -70px;
    height: 200px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 43% 43% 43%;
    flex-wrap: wrap;
}
.subs2 .text p{
    display: flex;
    text-align: center;
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.section2 .icon{
    font-size: 64px;
    color: #007bff;
}
.section2 .text{
    flex-direction: column;
    background-color: white;  
}
.subs .text h1{
    color: #1A2039;

}
.subs3 .text2 h1{
    color: #1A2039;
}
.section3 .text p{
    text-align: center;
}

.section2 .subs3 {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    margin-top: 140px;
}

/* SECTION 3 */

.section3 .columns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;

}
.section3 .column{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 20%; 
    background-color: white;
    margin: 20px; 
    box-sizing: border-box; 
    padding: 20px;
    align-items: center;
    height: 50vh;
}
.section3 .rating{
    color: yellow;
    display: flex;
    font-size: 24px;
}
.star {
    margin-right: 10px; 
}
.section3 p{
    padding-top: 40px;
    line-height: 1.5;
    color: #1A2039;

}
.section3 .text h1{
    font-size: 40px;
}

.section3 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px; 
    padding-bottom: 50px;   

}
.section3 .column img{
    max-width: 50%;
    height: auto;
    display: flex;
    padding-top: 10px;

}

.section3{
 background-color: #ddd;
 width: 100%;
 height: 290vh;
}

.section3 .icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}

.section3 .icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons img{
    max-width: 90px;
    height: auto;
}
.icons div{
    text-align: center;
    margin: 30px;
}

.subscribe-container{
    display: flex;
    align-items: center;
    margin: 0 10%;
    background-image: linear-gradient(to right, rgb(45, 45, 150), #f40c80);/
}
.subscribe-container .container{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.subscribe-container .form-container{
    display: flex;
    outline: none;
    height: 50px;
    width: 50%;
    padding-right: 70px;
    border-radius: 5px;
    text-align: center;
}
#subscription-email {
    border: none;
}
#btnSubscribe {
    background-color: #23a6f0;
    border: none;
    border-radius: 5px;
    width: 150px;    
    color: white;

}

.subscribe .header{
    padding-left: 0;
    font-size: 16px;
}

.primary {
    background-color:#007bff;
    color: white;
    border: none;
    padding: 10px 20px;
}
.section3 .pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.section3 .pricing-cards h1 {

    color: #23a6f0 !important;
  
  }

.section3 .pricing h1{
    font-size: 30px;
}
.section3 .pricing p{
    text-align: center;
}

.section3 .pricing-cards{
   display: flex;
   gap: 20px;
   justify-content: center;
   padding: 20px;
   padding-top: 70px;
}

.section3 .pricing-card{
    height: 90vh;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(53.33%  -10px);
    border-color: 2px #007bff;
    border: 1px #007bff;
}
.section3 .pricing-card {
    transition: transform 0.2s;
  }
  
  .section3 .pricing-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    background-color: #252B42; 
  }
.featured{
    background-color: #007bff;
}


.section3 button{
    background-color: #3498db;
    color: white;
    padding: 15px 70px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
.price {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .right-tick ion-icon {
    font-size: 34px;
    color: #01a807;
  }
  
  .grey-tick ion-icon {
    font-size: 34px;
    color: #BDBDBD;
  }
  .pricing-options {
    display: flex;
    grid-template-columns: 13% 98%;
    margin: 4%;
    text-align: left;
    align-items: center;
  }
  .pricing-options ion-icon {
    font-size: 34px;
  }

/* SECTION4 */
  
.section4 {
    background-color: hsl(226, 43%, 10%);
    color: white;
    height: 90vh;
}
.section4 .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 40px 70px; */

}
.section4 .text{
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.section4 h1{
    font-size: 30px;
}
.section4 p{
    font-size: 14px;
    padding-top: 20px;
}

/* SECTION 5 */
.section5{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;
    padding: 0 3rem;

}

.book-appointment-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -200px;
    /* padding: 20px; */
}
.section5 .form{
    width: 100%;
}

.book-appointment-image {
    flex: 1;

}
.book-appointment-form {
    flex: 2; 
    padding: 30px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.book-appointment-image img {
    max-width: 100%; 
    height: auto;
}

.form .primary{
    width: 100%;
}
.book-appointment-form h1 {
    font-size: 24px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    color: #1A2039;
}

.section5 .form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-weight: bold;
    width: 100%;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button.primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button.primary:hover {
    background-color: #0056b3;
}

.section5 .consulting{
        text-align: center;
        margin-bottom: 50px; 
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 100px;
    height: 30vh;
}
 .footer .container{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;    
}

.container .footers {
    flex: 1; 
    margin: 0 10px; 
    padding: 10px;  
    font-size: 14px;
  }
  
  .container .footers ol {
    list-style-type: none;
    padding: 0;
  }
  
  .container .footers li {
    margin-bottom: 15px;
    color: #9C9C9C;
  }
  .footers h2{
   font-size: 16px;
   padding-bottom: 25px;
   color: #1A2039;
}
  .consultingg .button{
    display: flex;
    justify-content: flex-end;

  }
  .consultingg{
    margin: 30px;
  }

@media screen and (max-width:450px) {
    body{
        padding: 10px;
    }
   .section1{
    display: flex;
    flex-direction: column;
   
   }
.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brand {
    padding: 0;
    font-size: 16px;
}

.navs ul {
    display: none;
}

.login-button {
    font-size: 14px;
}
.sidebar{
    padding-right: 20px;
}

.section1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    text-align: center; 

}
.section1-text h3{
    font-size:30px;
}
.section1 h2{
    font-size: 14px;
}

.round-button{
    padding: 5px 10px;
}


/* SECTION 2 */
.section2 .subs2{
    display: flex;
    flex-wrap: wrap;
}
.section2 .text{
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -150px;
    height: 30vh;
}

.section2 .icon{
    text-align: left;
    margin-left: 20px;
    padding-bottom: 20px;
}

.subs2 h1{
    text-align: left;
    margin-left: 20px;
}

.section2 .subs3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 400px;
}
.section2 .text2{
    width: 70%;
    justify-content: center;
    padding-bottom: 20px;
}
.text2 .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding-top: 10px;
}
.text2 h1{
    font-size: 20px;
}
/* SECTION 3 */
.section3{
    background-color: #ddd;
    width: 100%;
    height: 350vh;
   }
   .section3 .text h1{
    font-size: 30px;
}
.section3 p{
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
}

.section3 .columns {
    display: flex;
    flex-direction: column;
    height: 150vh;
}
.section3 .column{
    display: flex;
    flex-direction: column;
    width: 50%; 
}
.section3 .rating{
    padding-top: 20px;
}
.star {
    margin-right: 12px; 
}

.section3 .icons-container{
    display: flex;
    padding-top:20px;
}

.section3 .icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subscribe-container{
    width: 100%;
    margin: 0;
}
.subscribe-container .container{
    display: flex;
    flex-direction: column;
}

 .header h1{
    font-size: 18px;
}
.form-container{
}

.section3 .pricing{
    
}

.section3 .pricing p{
    text-align: center;
    padding: 20px;
}

.section3 .pricing-cards{
   display: flex;
   flex-direction: column;
   width: 100%;
  
}

.section3 .pricing-card{
width: 50%;  
height: 20vh;

}


.section3 button{
    background-color: #3498db;
    color: white;
    padding: 15px 70px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}
.price {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
  }
  .right-tick ion-icon {
    font-size: 34px;
    color: #01a807;
  }
  
  .grey-tick ion-icon {
    font-size: 34px;
    color: #BDBDBD;
  }
  .pricing-options {
    display: flex;
    grid-template-columns: 13% 98%;
    margin: 4%;
    text-align: left;
    align-items: center;
  }
  .pricing-options ion-icon {
    font-size: 34px;
  }





}

 
 